/* header  */
.scores {
  font-size: 150%;
  display: flex;
  justify-content: space-between;
  margin: 30px;
}

/* main place  */
.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* start text  */
.cover {
  font-size: 150%;
  display: block;
  text-align: center;
}

/* quiz questions & answers  */
.quiz {
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.answers {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-end;
  text-align: start;
  align-content: center;
}

/* score input  */
.scoreForm {
  display: none;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

#initialsForm {
  margin: 40px;
  font-size: 150%;
}

/* start button  */
#start {
  font-size: 150%;
}

.submit {
  font-size: 120%;
}

/* scores table  */
.scoreCard {
  display: flex;
  flex-direction: column;
}

/* score close button  */
#closeScores {
  display: none;
}